---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title = "Home">
  <main>
    <h1>React ➠ XElement</h1>

    <img src="https://lh3.googleusercontent.com/pw/AM-JKLUwoJunFVUl0-53MQ2wr8-kKjtUCgbZ2AS5hJg7pLtMM-vz8bL9jrDEKxx68OKZT8Rndip28WehHVZwX63UrsE13B5O7o2wys7TswfzAXp2YZAkBJVu1hyk2thtIDPg1YW0-FEZi8h5vzV5uLY1WNunhw=w896-h672-no?.jpg" style="max-height:40vh;" alt="A cute chickadee on a branch">

    <p><a href="https://twitter.com/sarah11918">@sarah11918</a> and <a href="https://twitter.com/aFuzzyBear2">@aFuzzyBear</a></p>
  </main>
</BaseLayout>

<style>
  main {
    text-align: center;
  
  }

  img {
    margin: 0 auto;
  }

</style>
